@{
    Layout = "_Layout";
}

<h4 class="text-center mb-3 mt-3">Please add some items to your cart!</h4>

<div class="mt-3">
    <a class="btn btn-outline-secondary" style="border-radius:10px" asp-controller="Cosmetics" asp-action="Index">Back to shopping</a>
</div>