@{
    Layout = "_Layout";
}

@model CosmeticsShop.Models.Category

<h4 class="mb-3 mt-3">Do you want to delete @Model.Name category?</h4>

@using (Html.BeginForm())
{
    <div class="mb-3 mt-3">
    <input type="submit" class="btn btn-danger" value="Yes!"/>
    </div>
}

<h6 class="mt-3">@Html.ActionLink("To the categories", "Index")</h6>