@{
    ViewData["Title"] = "Home Page";
}

@using CosmeticsShop.Models
<div class="text-center mb-3 mt-3">
<h1>Love Cosmetics</h1>
<h2>Everything for your beauty!</h2>
</div>
<div class="text-center">
<a href="cosmetics/index" class="button">Exlpore all!</a>
</div>

<div class="row mt-3 mb-3">
@foreach (Category category in Model["category"])
{
    <div class="col-md-4 mb-3">
    <a href="/Categories/Details/@category.CategoryId"><img class=" img-thumbnail" src="@category.Image"></a>
    </div>
}
</div>

