@{
    Layout = "_Layout";
}

@model CosmeticsShop.Models.ApplicationUser

<h4 class=" text-center mb-3 mt-3">Welcome to Love Cosmetics♡</h4>

@if(User.Identity.IsAuthenticated)
{
    <div class=" text-center mb-3 mt-3">
        <h5 class=" text-center mb-3 mt-3">Hello @User.Identity.Name:)) </h5>

    @using (Html.BeginForm("Logout", "Account"))
    {
        <input type="submit" class="buttonsmall" value="Log out"/>
    }
    </div>
}

else
{
    <div class="mb-3 mt-3 text-center">
        <h5 class=" text-center mb-3 mt-3">Please log in or register!</h5>
        <a class="buttonsmall" asp-controller="Account" asp-action="Register">Register</a>
        <a class="buttonsmall" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}

<div class="mt-3">
    <a class="btn btn-outline-secondary" style="border-radius:10px" asp-controller="Home" asp-action="Index">Home</a>
</div>