@{
    Layout = "_Layout";
}

@model CosmeticsShop.ViewModels.LoginViewModel

<h4 class="text-center mb-3 mt-3">Log in</h4>
<div class="text-center">
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <input asp-for="Email" placeholder="Your email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <input asp-for="Password" placeholder="Your password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mt-3">
        <input type="submit" class="buttonsmall" value="Login" />
    </div>
</form>
<h6 class="text-center">or</h6>
<a class="buttonsmall" asp-controller="Account" asp-action="Register">Register</a>
</div>

