@{
    Layout = "_Layout";
}

@model CosmeticsShop.ViewModels.ShopCartViewModel

<h4 class="text-center mb-3 mt-3">Your cart</h4>
<div class="mt-3 mb-3 text-center">

    @foreach(var cosmetic in Model.shopCart.listCartItems)
    {
        <div class="mt-3">
        <p>Cosmetic: @cosmetic.Cosmetic.Name</p>
        <p>Price: @cosmetic.Cosmetic.Price.ToString()</p>
        </div>
    }
    <a class="buttonsmall" asp-controller ="Order" asp-action="CheckOut">To pay</a>
</div>

<div class="mt-3">
    <a class="btn btn-outline-secondary" style="border-radius:10px" asp-controller="Cosmetics" asp-action="Index">Back to shopping</a>
</div>